<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Enhanced Parent Portal"
        name="Enhanced Parent Portal"
        version="4.0"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

        <access_request>
			<field table="U_DEF_EXT_STUDENTS" field="PARENT_VERIFY" access="FullAccess" />
			<field table="U_DEF_EXT_STUDENTS" field="STUDENT_INFO_VERIFY" access="FullAccess" />
			<field table="U_DEF_EXT_STUDENTS" field="BOUNDARY_HS" access="FullAccess" />
			<field table="U_DEF_EXT_STUDENTS" field="STUDENTSDCID" access="FullAccess" />
        </access_request>
    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>
